/* Barra de navegacion */

body{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1009%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(131%2c 169%2c 200%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c322.366C60.626%2c312.914%2c119.454%2c299.344%2c171.681%2c267.14C224.645%2c234.481%2c271.509%2c192.301%2c300.348%2c137.164C330.168%2c80.152%2c352.776%2c13.893%2c336.73%2c-48.414C321.124%2c-109.012%2c261.177%2c-143.759%2c216.671%2c-187.746C175.833%2c-228.108%2c141.338%2c-277.644%2c86.757%2c-295.469C31.46%2c-313.528%2c-26.059%2c-291.572%2c-83.955%2c-285.925C-156.953%2c-278.805%2c-238.642%2c-301.444%2c-297.711%2c-257.968C-358.961%2c-212.887%2c-386.858%2c-132.416%2c-395.223%2c-56.825C-403.452%2c17.534%2c-376.179%2c89.569%2c-343.627%2c156.929C-311.644%2c223.112%2c-276.145%2c294.748%2c-209.915%2c326.634C-145.553%2c357.621%2c-70.58%2c333.37%2c0%2c322.366' fill='%235589b4'%3e%3c/path%3e%3cpath d='M1440 1059.685C1535.138 1069.158 1632.1399999999999 1035.455 1709.101 978.729 1783.6680000000001 923.767 1834.414 840.586 1858.5810000000001 751.16 1880.702 669.306 1864.649 583.216 1837.717 502.817 1814.079 432.253 1756.454 383.555 1714.785 321.897 1666.107 249.86900000000003 1653.091 141.644 1572.166 109.88400000000001 1491.738 78.31900000000002 1409.303 149.24599999999998 1325.19 168.993 1234.864 190.199 1120.37 160.27100000000002 1059.452 230.253 998.549 300.218 1034.675 409.08000000000004 1035.459 501.836 1036.125 580.678 1034.825 658.483 1063.692 731.854 1093.716 808.165 1141.437 874.4929999999999 1203.269 928.36 1272.716 988.86 1348.349 1050.559 1440 1059.685' fill='%23b1c9dc'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1009'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.navbar {
  padding: 2rem;
  /*background-color: #ff6689;*/
  font-family: 'Quicksand', sans-serif;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;  
}

/* Estilos generales */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Quicksand', sans-serif;
}

h2{
  font-family: 'Bungee Hairline', cursive;
  font-weight: 900;
  
}

.seccion-oscura {
  color: black;
  /*background-color: #020060;*/
}

.seccion-clara {
  color: black;
  /*background-color: #4d51ff;*/
}

.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: 'Quicksand', sans-serif;
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: #584e4e;
}

.seccion-texto {
  font-size: 1.2rem;
  font-family: 'Quicksand', sans-serif;
}

.btn-info {
  font-size: 1.1rem;
  margin: 20px;
}

.texto-negro {
  color: black;
}

.texto-blanco {
  color: white;
}

/* Seccion Hero */

.hero {
  /*background-color: #4d51ff;*/
  min-height: 450px;
  text-align: center;
}

.hero-principal {
  padding: 3rem;

}

.hero-imagen-desarrollador {
  width: 200px;
  height: 300px;
  margin: 20px;
}

.hero-principal h2 {
  font-size: 1.5rem;
  color: #615151;
}

/* Sobre mi */

.sobre-mi {
  height: 500px;
  padding: 10px;
}

.sobre-mi .contenedor {
  max-width: 600px;
  text-align: center;
}

/* Experiencia */

.experiencia {
  padding: 40px 40px 60px 40px;
}

.experiencia .columna {
  padding: 20px;
  border: 2px solid #090177;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
  color: white;
  background-color: #ff6689;
}

.experiencia i {
  font-size: 2.5rem;
  color: #ff6689;
  background-color: #020060;
  padding: 8px 19px;
  border-radius: 50%;
}

.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.badge {
  margin: 5px;
}

/* Proyectos */

.proyectos-recientes {
  padding: 40px;
}

.proyectos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}

.proyectos-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.proyecto {
  position: relative;
}

.proyecto:hover img {
  opacity: 0.2;
}

.proyecto:hover .overlay {
  opacity: 1;
}

.overlay .iconos-contenedor {
  display: flex;
}

.overlay i {
  color: black;
  font-size: 60px;
  margin: 10px;
}

/* Articulos */

.articulos {
  min-height: 500px;
  padding: 30px;
}

.articulos .card {
  width: 80%;
  max-width: 600px;
  margin: 20px;
}

.articulos .card-header {
  font-weight: bold;
}

/* Testimonios */

.testimonios {
  padding: 40px 40px 80px 40px;
}

.testimonios .carousel {
  max-width: 800px;
}

.carousel-item {
  height: 500px;
}

.carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonio-imagen {
  height: 150px;
  width: 150px;
  margin: 10px 10px 20px 10px;
}

.testimonio-texto {
  max-width: 70%;
  font-size: 20px;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
}

.testimonio-info {
  font-weight: bold;
  text-align: center;
}

.testimonio-info p {
  margin-bottom: 0;
}

.testimonio-footer .cliente {
  font-size: 1.2rem;
}

.testimonio-info .cargo {
  font-size: 0.9rem;
  color: #656060;
}

/* Contacto */

.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contacto .rectangulo {
  margin-top: -5rem;
  background-color: #83a9c8;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .descripcion {
  color: white;
  font-size: 1.2rem;
}

.contacto button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover {
  background-color: white;
  color: black;
}

.contacto button i {
  color: white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
  color: black;
}

/* Pie de pagina (footer) */

footer {
  min-height: 500px;
}

.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
  color: black;
}

.derechos-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}

/* Adaptable (Responsivo) */

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .testimonio-imagen {
    height: 120px;
    width: 120px;
  }

  .testimonio-texto {
    font-size: 18px;
  }
}

@media screen and (min-width: 700px) {
  .hero-inferior-imagen {
    max-width: 600px;
  }
}

/* nuevo codigo*/
